.body{
    background-image: url("lilypads.png")
}
.mytextarea{
    height: 250px;
}
.my-card{


}
.my-card-image{

}
.my-card-text{
    position: absolute;
    bottom: 0;
}
@media screen and(max-width: 960px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 640) {
    
}